@import url("/css/code-base.css"); 

pre, .pln, .nocode {
   color: #cbb094;
}

.kwd, .tag, .pun {
   color: #da855c;
}

pre.prettyprint {
   background-color: #2d3539;
}

ol.linenums {
   color: #434f55;
   background-color: #22272a;
}

/* Even-numbered linenumbers (line numbering styles start at 0) */
/* ol.linenums li:nth-child(even), */  /* For HTML5 and all modern browsers - will use when ie8 has gone away */
li.L0, li.L2, li.L4, li.L6, li.L8 {
   background-color: #2d3539;
}

/* Odd-numbered linenumbers: */
/* ol.linenums li:nth-child(odd), */
li.L1, li.L3, li.L5, li.L7, li.L9 {
   background-color: #2b3337
}

/* Great way to select even/odd lines, doesn't work in IE8 though.
ol.linenums li:nth-child(even) {
   background-color: white;
}
ol.linenums li:nth-child(odd) {
   background-color: #f0fff6;
} */

.com {
   color: #7f7f7f;
   font-style: italic;
}

.opn,.clo {
   color:#660;
}

.fun {
   color: #bf6e78;
}

.str,.atv {
   color: #f09820;
   background-color: #323c48;
}

.lit {
   color: #f09820;
}

.typ {
   color: #d55820;
}

.exc {
   color: #ef4641;
}

.atn,.dec,.var {
   color: #f09820;
}
