 
pre, code, .pln {
   font-family: consolas, menlo, monospace;
}

pre.prettyprint, pre.pln, code.pln {
   font-size: 85%;
}

.pln, .kwd, .tag, .pun {
   color: #102051;
}

pre.prettyprint {
   border: 1px solid #eee;
   background-color: #f8f8f9;
   padding: 1.3em 1.5em;
   margin: 1em 0em 0em;
}

.lang-sql .kwd, .lang-sql .pln {
   text-transform: lowercase;
}

pre.linenums, code.linenums {
   padding: 0; /* Suppress prettyprint padding when in linenums style */ 
}

ol.linenums {
   margin-bottom:0;
   color: white;
   margin-top:0;
   background-color: #D4D4D9;
}

ol.linenums li {
   padding-left: .5em !important;
   padding-right: 1em;
   background-image: none;
   margin: 0;
   padding: 0;
}

/* Even-numbered linenumbers (line numbering styles start at 0) */
/* ol.linenums li:nth-child(even), */      /* For HTML5 and all modern browsers */
li.L0, li.L2, li.L4, li.L6, li.L8 {
   background-color: white;
}

/* Odd-numbered linenumbers: */
/* ol.linenums li:nth-child(odd), */
li.L1, li.L3, li.L5, li.L7, li.L9 {
   background-color: #f0fff6;
}

/* Great way to select even/odd lines, doesn't work in IE8 though.
ol.linenums li:nth-child(even) {
   background-color: white;
}
ol.linenums li:nth-child(odd) {
   background-color: #f0fff6;
} */

.com {
   color:#808090;
   font-style: italic;
}

.opn,.clo {
   color:#660;
}

.fun {
   color: #007065;
}

.str,.atv {
   color: #0099d7;
}

.lit {
   color: #00a477;
   text-transform: uppercase;
}

.kwd, .tag, .pun {
   font-weight: bold;
}

.typ {
   color: #1040b0;
}

.exc {
   color: #a04;
}

.atn,.dec,.var {
   color:#a4a;
}
